{%extends 'shop/base.html'%}
{%block title%}About-Page{% endblock %}
{%block css%}{%endblock%}
{%block body%}

<main role="main">

<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Cart</h1>
      <p>A sample mycart shopping website.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
      <div class="row">
      
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>May visit blog and shop </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>Contains shop and blog </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>Add information </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>
  </div>
</main>
  <footer class="container">
    <p>&copy; MyCart 2021-2022</p>
  </footer>
{% endblock %}