{% extends 'shop/base.html' %}
{% block css %}
          .col-md-3
          {
          display: inline-block;
          margin-left:-4px;
          }

          .carousel-indicators .active {
          background-color: blue;
            }

          .col-md-3 img{

          width: 170px;
          height: 200px;
          }

          body .carousel-indicator li{
          background-color: blue;
          }

          body .carousel-indicators{
          bottom: 0;
          }

          body .carousel-control-prev-icon,
          body .carousel-control-next-icon{
          background-color: blue;
          }

          .carousel-control-prev,
          .carousel-control-next{
          top: auto;
          bottom: auto;
          padding-top: 222px;
          }
           body .no-padding{
           padding-left: 0,
           padding-right: 0;
           }
 {% endblock %}

{% block body %}
{% load static %}
<div class="container">

    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}
    <h5 class="my-4">Flash Sale On {{product.0.category}} - Recommended Items</h5>
    <div class="row">
<div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>

       {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    </ul>


    <div class="container carousel-inner no-padding">

      <div class="carousel-item active">


        {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="nameprd{{i.id}}">{{i.product_name}}</h5>
              <p class="card-text">{{i.desc|slice:"0:53"}}...</p>
              <span id="divprd{{i.id}}" class="divprd">
              <button id="prd{{i.id}}" class="btn btn-primary cart">Add To Cart</button>
            </span>
              <a href="/shop/products/{{i.id}}"><button id="qv{{i.id}}" class="btn btn-primary cart">QuickView</button></a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
      </div><div class="carousel-item">
        {% endif %}

        {% endfor %}
    </div>



</div>
</div>
    <!-- left and right controls for the slide -->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
        </div>
    {% endfor %}
</div>
 {% endblock %}

{% block js %}
<script>
    console.log('working');
    //Find out the cart items from localStorage
    //If the cart is null then set it empty and send it to updateCart function
    if(localStorage.getItem('cart') == null)
    {
      var cart = {};
    }else{
      cart = JSON.parse(localStorage.getItem('cart'));
      updateCart(cart)
      //document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }



    
    //$('.cart').click(function() {
      //below is for span element associated with that button  class 
    $('.divprd').on('click','button.cart',function()
    {
      console.log('clicked add to cart button');
      var idstr = this.id.toString();
      console.log(idstr);
      if (cart[idstr] !=undefined)
      {
        cart[idstr] = cart[idstr] + 1;
      }
      else
      {
        cart[idstr] = 1;
      }
      updateCart(cart);
      //localStorage.setItem('cart', JSON.stringify(cart));
      //document.getElementById('cart').innerHTML = Object.keys(cart).length;
    });

//document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');

//Add Popover to cart
$('#popcart').popover();
updatePopover(cart);







//$('.cart').click(function()
//above one was for button add to cart's cart class 





//to show names of cart items after clicking on cart in navbar
function updatePopover(cart)
{
  console.log('Inside updatePopover'); 
  var popStr="";
  popStr=popStr+"<h5>Cart for your items in my shopping cart</h5><div class='mx-2 my-2'>";
  var i = 1;
  var x="";
  for(var item in cart)
  {
    x=x+" "+cart[item];
    popStr=popStr+"<b>"+i+"</b>. ";    
    popStr=popStr+document.getElementById('name'+item).innerHTML+ "... Qty: " + cart[item] + '<br>'
       
    //console.log(document.getElementById('name'+item).innerHTML.slice(0, 19)+ "... Qty: " + cart[item] + '<br>');
    //console.log(document.getElementById('name'+item).innerHTML);   
    i=i+1;
  }
    //need to add two button checkout and clearCart
  console.log(x)
  //popStr = popStr + 
  //"</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart''>clear Cart</button> "
  
  popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-primary' id ='checkout'>Checkout</button></a> <button class='btn btn-primary' onclick='clearCart()' id ='clearCart'>Clear Cart</button>     "
  
  document.getElementById('popcart').setAttribute('data-content',popStr);
  $('#popcart').popover('show');
   
  
              //popstr will be like-below html code
              //<h5>Cart for your items in my shopping cart</h5>
              //<div class='mx-2 my-2'>
               //   <b>prd13</b>mixer... Qty: 2<br>
               //   <b>prd15</b>washing machine... Qty: 2<br>
               //   <b>prd3</b>Photoframe... Qty: 5<br>
              //</div> 
}

function clearCart(cart)
{
  console.log('in clear cart function')
  cart=JSON.parse(localStorage.getItem('cart'));
  for(var item in cart)
  {
    document.getElementById('div'+item).innerHTML='<button id="'+ item +'" class="btn btn-primary cart">Add To Cart</button>';
    //divprd--->it is - and - button after clicking on clear cart show it as one button add tpo cart

  }
  localStorage.clear();
  cart={};
  console.log('cart is empty')
  updateCart(cart);
}


//take cart as arg and update 
function updateCart(cart)
{
  console.log('In updatecart function')
  console.log(cart) 
  var sum=0;
  for(var item in cart)
  {
    console.log(cart[item])
    sum=sum+cart[item]
    //document.getElementById('div'+item).innerHTML="<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
  }
  localStorage.setItem('cart',JSON.stringify(cart));
  document.getElementById('cart').innerHTML=sum;
  console.log(sum)
  updatePopover(cart)
}



$('.divprd').on('click','button.minus',function()
{
  
  console.log('button minus clicked')
  a=this.id.slice(5,);
  cart[a]=cart[a]-1;
  cart[a]=Math.max(0,cart[a])
  document.getElementById('val'+a).innerHTML=cart[a];
  updateCart(cart);  
})

$('.divprd').on('click',"button.plus",function()
{
  console.log('button plus clicked')
  console.log('plus is clicked')
  a=this.id.slice(4,);
  cart[a]=cart[a]+1;
  document.getElementById('val'+a).innerHTML=cart[a];
  updateCart(cart);
  
})






</script> 
{% endblock %}
